<%- include('bootstrap') %>

<div class="container p-4 mt-5 rounded shadow-lg w-25">
    <div class="row">
        <div class="col-12 mb-4 d-flex justify-content-center">
            <h3 class="mb-4">Login</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form id="form">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="email"><strong>Email </strong></label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="password"><strong>Password</strong></label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-4 mt-2">
                        <button class=" btn btn-primary" onclick="submitForm(event)">Login</button>
                    </div>
                    <div class="col-6 mb-4 mt-2">
                        <a href="/api/auth/register" style="text-decoration:none">
                            <h6 id="alreadyAccount">no account?</h6>
                        <a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function submitForm(event){
        event.preventDefault()
    var email = document.getElementById('email').value
    var password = document.getElementById('password').value
    var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/

    if(email != ""){
        if(email.match(mailformat)){
            if(password != ""){
                sendDetail(email, password)
            }else{
                Swal.fire({
                type: 'warning',

                text: 'type your password',
                })
            }
        }else{
            Swal.fire({
                type: 'warning',
     
                text: 'Type a valid email',
            })
        }
    }else{
        Swal.fire({
                type: 'warning',
      
                text: 'Type your email',
        })
    }
}
    function sendDetail(email, password){
    
        $(document).ready(function(){
        $.ajax({
            method: 'POST',
            url:'/api/auth/login',
            data:{
                email: email,
                password: password
            },
            success: function(response){

            if( response.success == true && response.admin == "admin"){
                location.href = '/api/admin/addproduct'
            }
            if( response.email == "notexist"){
                Swal.fire({
                type: 'error',
        
                text: 'user not exist with this email please register',
                })
            }
            if(response.password == "notcorrect"){
                Swal.fire({
                type: 'error',
            
                text: 'Incorrect password',
                })
            }
             if(response.success == true){
                congrat()
            }
        }
    })
})
}
    
    function congrat(){
        let timerInterval
            Swal.fire({
                type: 'success',
                title: 'Congratulations!',
                html: 'Welcome to Shopping portal',
                timer: 3000,
                onBeforeOpen: () => {
                    Swal.showLoading()
                    timerInterval = setInterval(() => {
                    Swal.getContent().querySelector('strong')
                        .textContent = Swal.getTimerLeft()
                    }, 100)
                },
                onClose: () => { 
                clearInterval(timerInterval)
                location.href = "/" 
            }
            }).then((result) => {
            if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.timer
            ) {
                console.log('I was closed by the timer')
            }
            }) 
    }
</script>